//Font Sizes
$default-font-size: 1.6rem;

// Primary Colors
$color-primary: hsl(0, 36%, 70%);

// Neutral Colors
$color-dark: hsl(0, 6%, 24%);
$color-white: #fff;

// Feedback Colors
$color-alert: hsl(0, 93%, 68%);

// Gradients
$color-gradient-light: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$color-gradient-dark: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

// Shadows
$box-shadow-high: 0 10px 40px -15px $color-gradient-dark;
