*,
html,
body {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	//This defines what 1rem is.
	//100% = 16px
	font-size: 62.5%; // 1rem = 10px
}

body {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	line-height: 1.5;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

button {
	cursor: pointer;
	border: 0;
	border-radius: 0;
	&:focus,
	&:active {
		outline: 0;
	}
}

input {
	border-radius: 0;
	outline: 0;
	border: none;
	background-color: transparent;
	&:focus {
		outline: 0;
	}
	&::placeholder {
		color: inherit;
	}
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}
